
   
  h1  {
    color: #3e22bc;
/*     font-family: Montserrat, sans-serif;
    //position: absolute;
    left: 50%;
    text-transform: uppercase;
    font-weight: normal;
    pointer-events: none;
 */  } 
  
  h1 strong {
    font-weight: 700;
    color: #3e22bc;
    
  }
  
  h1 em {
    font-family: 'Playfair Display', serif;
    text-transform: none;
    font-style: italic;
    color: #3e22bc;

  }
  h2 em {
    font-family: 'Playfair Display', serif;
    text-transform: none;
    font-style: italic;
    font-weight: 550;
    font-size: 25px;
    color: #3e22bc;

  }