@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");


* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.paper p {
    font-size: 1.1em;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

.container {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
  
  //flex-direction: column;
}

.form {
  transition: all 0.5s;
  position: relative;
  top: 50%;
  width: 80%;
  //z-index: 1;
}

.finder {
  border: 1px solid #fff;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 8px;
  width: 100%;

  
  box-shadow: 3px 3px 7px #10ebff7a,
    -3px -3px 7px #e454f785;
}
.finder__outer {
  //display: flex;
  width: 600px;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  box-shadow: inset 8px 8px 12px -8px #c3c3c3,
    inset -8px -8px 12px -8px #ffffff;
  width: 100%;
}

.finder__Button {
    
    //width: 10%;
    height: 45px;
    border: 1px solid #3e22bc;
    background: #3e22bc;
    text-align: center;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
  }


.finder__inner {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  width: 100%;
}
.finder__form {
  flex: 1;
  height: calc(100% + 3rem);
  width: 100%;
}

.finder__input {
    
  width: 100%;
  height: calc(100% + 3rem);
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.5rem;
  letter-spacing: 0.75px;
  
}
  

.finder__icon {
  width: 50px;
  height: 40px;
  margin-right: 1rem;
  transition: all 0.2s;
  box-shadow: inset 0 0 0 20px #3e22bc;
  border-radius: 50%;
  position: relative;

  &:after,
  &:before {
    display: block;
    content: "";
    position: absolute;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &:after {
    width: 10px;
    height: 10px;
    background-color: #3e22bc;
    border: 3px solid #ffffff;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    left: 0px;
    right: 0;
    margin: auto;
    border-radius: 50%;

    @at-root .active & {
      border-width: 10px;
      background-color: #ffffff;
    }
  }

  &:before {
    width: 4px;
    height: 13px;
    background-color: #f6f5f0;
    top: 50%;
    left: 20px;
    transform: rotateZ(45deg) translate(-50%, 0);
    transform-origin: 0 0;
    border-radius: 4px;

    @at-root .active & {
      background-color: #3e22bc;
      width: 6px;
      transform: rotateZ(45deg) translate(-50%, 25px);
    }
  }

  @at-root .processing & {
    transform-origin: 50%;
    animation: spinner 0.3s linear infinite;
    animation-delay: 0.5s;
  }

  @at-root .active & {
    transform: translateY(-5px);
  }
}
@keyframes spinner {
    0% {
      transform: rotateZ(45deg);
    }
    100% {
      transform: rotateZ(405deg);
    }
  }

  .fa-search{
    color: #3e22bcab;
  }

