
$new-white: rgb(246, 248, 255);
$text-margin: 10px;
@import "node_modules/sass-google-fonts/src/GoogleFonts.scss";
@include google-font( 'Roboto' );



body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #3e22bc;
    position: absolute;
    box-sizing: border-box;
    #root {
        height: 100%;
        .page-container {
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            perspective: 1000px;
            .card-container {
                height: 400px;
                margin: 0;
                padding: 0;
                top: 20px;
                width: 300px;
                margin-left: 15%;
                margin-right: 15%;
                position: relative;
                transform-style: preserve-3d;
                box-sizing: border-box;
                &.flipped {
                    .front {
                        transform: rotateY(180deg);
                    }
                    .back {
                        transform: rotateY(0deg);
                    }
                }
                .front,
                .back {
                    font-family: 'Roboto';
                    box-sizing: border-box;
                    height: 100%;
                    width: 100%;
                    display: block;
                    background: $new-white;
                    box-shadow: 3px 3px 3px rgb(171, 172, 175);
                    padding: 10px;
                    position: absolute;
                    border-radius: 10px;
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    transition: -webkit-transform ease 500ms;
                    transition: transform ease 500ms;

                }
                .front {
                    z-index: 2;
                    transform: rotateY(0deg);
                    /* front tile styles go here! */
                }
                .back {
                    background: $new-white;
                    transform: rotateY(-180deg);
                    padding-bottom: 20px;
                    padding-left: 20px;
                    padding-right: 20px;
                    font-family: 'Roboto';
                    font-size: 18px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    /* back tile styles go here! */

                    .head{
                        font-weight: 600;
                        color:#3e22bc;
                    }
                    
                    
                }
                
                .image-container {
                    position: relative;
                    .card-image {
                        width: 100%;
                        filter: brightness(60%);
                        border-radius: 10px;
                    }
                    .title {
                        font-family: 'Roboto';
                        font-size: 24px;
                        position: absolute;
                        margin-bottom: $text-margin;
                        margin-left: $text-margin;
                        bottom: 0;
                        left: 0;
                        color: white;
                    }
                    
                }
                
                .main-area {
                    margin-left: $text-margin;
                    margin-top: $text-margin;
                    margin-right: $text-margin;
                    
                    .blog-post {
                        height: 100%;
                    
                        .date {
                            margin-top: $text-margin;
                            margin-bottom: 5px;
                            font-family: 'Roboto';
                            font-size: 15px;
                            color: rgb(83, 78, 78);
                        }
                        
                    
                        .read-more {               
                            font-family: 'Roboto';
                            font-size: 15px;
                            font-weight: 600;
                            position: relative;
                            bottom: 0px;
                            text-align: right;
                            color: rgb(32, 29, 29);
                        }
                        .blog-content {
                            font-family: 'Roboto';
                            height: 80%;
                            display: block;
                            margin-top: $text-margin;
                            margin-bottom: $text-margin;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
        
    }
}

