
@import "node_modules/sass-google-fonts/src/GoogleFonts.scss";
@include google-font( 'Roboto' );

$new-white: rgb(255, 255, 253)!important;

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #3e22bc;
    position: absolute;
    box-sizing: border-box;
    #root {
        height: 100%;
        .page-container {
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            perspective: 1000px;
            .card-container {
                height: 400px;
                margin: 0;
                padding: 0;
                top: 20px;
                width: 30px;
                margin-left: 35%;
                margin-right: 35%;
                position: relative;
                transform-style: preserve-3d;
                box-sizing: border-box;
                
                &.flipped {
                    .front {
                        transform: rotateY(180deg);
                    }
                    .back {
                        transform: rotateY(0deg);
                    }
                }
                .front,
                .back {
                    box-sizing: border-box;
                    height: 100%;
                    width: 100%;
                    display: block;
                    background: $new-white;
                    box-shadow: 10px 10px 5px  rgb(171, 172, 175);
                    padding: 10px;
                    position: absolute;
                    border-radius: 10px;
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    transition: -webkit-transform ease 500ms;
                    transition: transform ease 500ms;
                    text-overflow: ellipsis;

                    
                    
                }
                .front {
                    z-index: 2;
                    transform: rotateY(0deg);
                    /* front tile styles go here! */
                    
                }
                .back {
                    background: $new-white;
                    transform: rotateY(-180deg);
                     padding-bottom: 20px;
                    padding-left: 20px;
                    padding-right: 20px; 
                    font-size: 15px !important;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    /* back tile styles go here! */
                    .head{
                        font-size: 22px;
                        font-weight: 600;
                        color:rgb(30, 5, 54);
                    }
                    
                }
                .image-container {
                    position: relative;
                    margin-top: 5px;
                    
                    .card-image {
                        width: 100%;
                        filter: brightness(60%);
                        border-radius: 10px;
                    }
                    .title {
                        font-size: 21px !important;
                        font-weight: 600 ;
                        position: absolute ;
                        margin-bottom: 10px;
                        margin-left: 10px;
                        margin-right: 10px;
                        margin-top: 10px;
                        bottom: 0 ;
                        left: 0;
                        color: #ffffff !important;
                        text-transform: none;
                        background-color: rgba(124, 117, 117, 0.384);
                        border-radius: 6px;
                    }
                    
                }
                
                .main-area {
                    margin-left: 10px;
                    margin-right: 10px;
                    
                    .blog-post {
                        height: 100%;
                    
                        .date {
                            margin-top: 10px;
                            margin-bottom: 5px;
                                                        font-size: 15px;
                            color: rgb(83, 78, 78);
                        }
                        
                    
                        .read-more {               
                            font-size: 15px;
                            font-weight: 600;
                            position: relative;
                            bottom: 0px;
                            text-align: right;
                            color: rgb(32, 29, 29);
                        }
                        .blog-content {
                            height: 80%;
                            display: block;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        
    }
}

