@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logo {
  width: 100%;
  padding: 40px 0px;
  //z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  //cursor: pointer;
  font-size: 30px;
}

.showcase {
  position: relative;
  right: 0;
  width: 100%;
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  z-index: 2;
  //padding-bottom: 400px;
}

.text {
  position: relative;
  z-index: 10;
}
.text .keywords {
  color: #e354f7;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px 0px;
}
.text .category {
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px 0px;
  letter-spacing: 1.5px; 
}

.text h2 {
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3 {
  font-size: 3em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  padding: 0px 20px 0px 0px;
}
.text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  padding: 0px 30px 0px 0px;
}
.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text i {
  //display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover {
  letter-spacing: 6px;
}

.img {
  position: static;
  left: 60.9%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}
.media {
  /* Poster */

  position: relative;
  width: 400px;
  height: 400px;
  left: calc(50% - 458.78px / 2 + 0.63px);
  top: calc(50% - 500px / 2 - 29px);

  filter: drop-shadow(0px 18px 52px rgba(0, 0, 0, 0.5));
  border-radius: 15px;
}

@media (max-width: 991px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
}

.info {
  margin-top: 50px;
  display: center;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  left: 10%;
  right: 10%;

  background: #ffffff;
  mix-blend-mode: normal;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.info .text {
  position: relative;
  margin-bottom: -50px;
  padding: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #9b9b9b;
}

.info .title {
  margin-top: 30px;
  padding: 0px 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -1px;
  color: #000000;
}

.info .keywords {
  padding: 10px 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #e354f7;
}
